<!DOCTYPE html>
<html>
  <head>
    <title>Amaysim</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- TODO - Add partial here for bootstrap navbar -->
    <%= render 'layouts/container_zero'%>
    <%= render 'layouts/nav'%>
    <%= render 'layouts/container_one'%>
    <%= render 'layouts/container_two'%>
    <%= render 'layouts/container_three'%>
    <%= yield %>
  </body>
</html>
